/* AQUI EMPIEZA EL CSS DE AGENDATUCONSULTORIA.HTML */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

main.contenido {
    flex: 1;
}

.bodyagendatuconsultoria {
    font-family: Arial, sans-serif;
    background: #757575;
    color: #757575;
    line-height: 1.6;
}

.agendatuconsultoriacontenido {
    background: #757575;
    flex: 1;
}


.banneratc {
    background: black;
    height: 63px;
    padding: 1rem;
}

.calltoaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 20px auto;
    text-align: center;
    background-color: #757575;

}

#parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: firebrick;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/* Icono Flecha */
.icono {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 10px 0;
}

.contentagendatuconsultoria {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
    background: #757575;   
    height: auto;
    margin-bottom: 200px;
}

.instructions {
    width: 40%;
}

.instructions h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.instructions ol li {
    margin: 0.5rem 0;
}

.calendly_agendatuconsultoria {
    overflow: hidden;
    height: 500px;
    
}

/* Responsividad de Agenda tu consultoria */
@media (max-width: 1024px) {
    .contentagendatuconsultoria {
        flex-wrap: wrap;
        justify-content: center;
    }
    .instructions, .calendly_agendatuconsultoria {
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 744px) {
    .contentagendatuconsultoria {
        flex-direction: column;
        align-items: center;
    }
    .instructions, .calendly_agendatuconsultoria {
        width: 300px;
    }
    #parrafo {
        font-size: 12px;
    }
}

@media (max-width: 497px) {
    .calltoaction {
    max-width: 300px;}
    
    #parrafo {
        font-size: 11px;
    }

    .instructions h1 {
        font-size: 12px;
    }

    .instructions {
        font-size: 11px;
    }
}